[Unit]
Description="HashiCorp Nomad - Orchestration made easy"
Documentation=https://www.nomadproject.io/docs/
Wants=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/nomad/agent.hcl

Wants=consul.service
After=consul.service

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/home/core/nomad agent -config=/etc/nomad
EnvironmentFile=-/etc/nomad.d/nomad.env
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target